## User Data

*.xcuserdatad

# notes
notes

## OS X
*.DS_Store
.DS_Store

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build

# fastlane
# https://docs.fastlane.tools/best-practices/source-control/#source-control

Packages/

.build
.swiftpm
.idea
Info.plist
*.resolved
*.xcworkspace
*.framework
*.xcframework
*.pbxproj
*.xcodeproj
*.entitlements
